# dependencias
/node_modules

# build
/build

# configuraciones del sistema operativo
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# entorno
.env

# editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# coverage tests
coverage/

# cache
.cache/
